body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
}

div.canvas-div {
    border: red 20px solid;
    border-radius: 2%;
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: white;
    height: 500px;
    width: 100%;
    border: black 1px solid;
}

button {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: pink;
    border-radius: 10%;
    border: red 2px solid;
}